.questionArea {
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.fileDisplay {
    border: 1px solid #ccc;         /* 枠線 */
    padding: 10px;                  /* 内側余白 */
    width: 600px;                   /* 幅 */
    height: 300px;                  /* 高さ */
    overflow: auto;                 /* あふれたらスクロール */
    background-color: #f9f9f9;      /* 背景色（任意） */
    border-radius: 8px;             /* 角丸（任意） */
}

.checkbox{
    display: flex;
    align-items: flex-start; /* 上揃えにする */
    margin-top: 7px;
}

.choice-label {
    display: flex;
    align-items: flex-start; /* 上揃えにする */
    gap: 5px;
    margin-bottom: 10px;
}

.NextBackArea {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* ボタン間のスペース */
    margin-top: 4px;
}

#text-1, #text-2 {
    font-size: 16px;
    margin-bottom: 4px;
}

#text-1 {
    margin-top: 4px;
}

#files {
    font-size: 12px;
}

ul {
    margin-top: 4px;
}

/* 右側画面 */
.questionTableArea {
    position: fixed;
    top: 70px;
    right: 50px;
    width: 250px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}

.questionTable {
    width: 100%;
    border-collapse: collapse;
}

.questionTable th, .questionTable td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
}

.currentQuestion {
    font-weight: bold;
    color: red;
}

.checkMark {
    color: green;
    font-weight: bold;
}
