<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>タスク管理/ヘッダー</title>
</head>
<body>
    <!--フラグメント作成（他のhtmlで使えるようにする）-->
    <div th:fragment="Header">
        <!--ページで表示を変更する-->
        <div th:switch="${currentPage}" class="header">
            <div class="headerLeft"></div>
            <!-- mypageの場合 -->
            <div th:case="'mypage'" class="headerRight">
                <form th:action="@{/main/logout}" method="post">
                    <input type="submit" value="ログアウト" class="logoutButton">
                </form>
                <form th:action="@{/main/home}" method="get">
                    <input type="submit" value="戻る" class="headerButton">
                </form>
            </div>

            <!-- homeの場合 -->
            <div th:case="'home'" class="headerRight">
                <form th:action="@{/main/logout}" method="post">
                    <input type="submit" value="ログアウト" class="logoutButton">
                </form>
                <form th:action="@{/mypage}" method="get">
                    <input type="submit" value="マイページ" class="headerButton">
                </form>
            </div>

            <!-- examの場合 -->
            <div th:case="'exam'" class="headerRight">
                <!-- タイマー表示 -->
                <div id="timer" class="timer">残り時間: <span id="timeDisplay">--:--</span></div>

                <form id="endForm" th:action="@{/question/end}" method="post" onsubmit="return ExamCompleted()">
                    <input type="submit" value="終了" class="headerButton" id="end_button">
                </form>

                <form th:action="@{/main/logout}" method="post">
                    <input type="submit" value="ログアウト" class="logoutButton">
                </form>
            </div>

            <!-- qaの場合 -->
            <div th:case="'qa'" class="headerRight">
                <form id="endForm" th:action="@{/main/home}" method="get">
                    <input type="submit" value="終了" class="headerButton" id="end_button">
                </form>

                <form th:action="@{/main/logout}" method="post">
                    <input type="submit" value="ログアウト" class="logoutButton">
                </form>
            </div>
        </div>
    </div>
</body>
</html>