<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JavaSilverSE11</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
        <link th:href="@{/css/questions.css}" rel="stylesheet">
    </head>
    <body class="mainHeader">
        <!-- headerのフラグメント作成⇒他のHTMLで使用できるようにする -->
	    <div th:replace="header :: Header"></div>
        <div class="question" th:if="${questionList != null}">
            <div th:with="QNo=${session.qNo},QList=${#lists.find(questionList.items, i -> i.no == T(Long).parseLong(QNo))}"> <!-- #lists.find(...) の構文 -->
                <div class="questionArea">
                    <!-- 問題No-->
                    <h3 th:text="'問 ' + ${QNo}"></h3>
                    <!-- ファイル名表示 -->
                    <div th:if="${session.filesPath != null}">
                        <pre id="files" th:each="file : ${session.filesPath}" th:text="${file}"></pre> <!-- <pre> タグでインデント・改行などを保ったまま表示 -->
                    </div>
                </div>

                <div class="selectArea">
                    <ul>
                        <li th:each="text : ${QList.choicesText}" th:text="${text}"></li>
                    </ul>
                </div>
            </div>

            <div class="NextBackArea">
                <div class="BackQuestion">
                    <form action="#" th:action="@{/main/Back}" method="post">
                        <input type="hidden" name="userId" th:value="${userId}" />
                        <button type="submit">戻る</button>
                    </form>
                </div>
                <div class="NextQuestion">
                    <form action="#" th:action="@{/main/Next}" method="post">
                        <input type="hidden" name="userId" th:value="${userId}" />
                        <button type="submit">次へ</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>