<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JavaSilverSE11</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
        <link th:href="@{/css/questions.css}" rel="stylesheet">
    </head>
    <body class="mainHeader">
        <!-- headerのフラグメント作成⇒他のHTMLで使用できるようにする -->
	    <div th:replace="header :: Header"></div>
        <div class="question" th:if="${DQ != null}">
            <div class="questionArea1">
                <!-- 問題No-->
                <h3 th:text="'問 ' + ${session.qNo}"></h3>
                <!-- ファイル名表示 -->
                <div th:if="${session.filesPath != null and !#lists.isEmpty(session.filesPath)}">
                    <p id="text-1">次のコードがあります</p>
                    <div class="fileDisplay">
                        <pre id="files" th:each="file : ${session.filesPath}" th:text="${file}"></pre>
                    </div>
                </div>
            </div>

            <div class="center">
                <div class="questionArea2">
                    <pre id="text-2" th:text="${DQ.question}"></pre>  <!-- <pre> タグでインデント・改行などを保ったまま表示 -->
                </div>

                <div class="selectArea">
                    <form id="mainForm" th:action="@{/question/next}" method="post" onsubmit="saveTimeToHidden()">
                        <input type="hidden" name="userId" th:value="${userId}" />
                        <input type="hidden" name="remainingTime" id="remainingTimeField" />
                        <div class="choice">
                            <ul style="list-style-type: none; padding-left: 0;">
                                <li th:each="choice, iterStat  : ${DQ.choicesText}">
                                    <label class="choice-label">
                                        <input class="checkbox" type="checkbox" name="selectedChoices"
                                        th:value="${choice.sNo}"
                                        th:checked="${NSC != null and NSC.contains(choice.sNo)}"/>
                                    <span>
                                        <span th:text="${T(java.lang.Character).toString(65 + iterStat.index)} + '.'"></span>
                                        <input type="hidden" name="characters" id="Character" th:value="${T(java.lang.Character).toString(65 + iterStat.index)}"/>
                                        <span th:text="${choice.text}" style="white-space: pre-wrap;"></span>
                                    </span>
                                </label>
                            </li>
                            </ul>
                        </div>

                        <div class="NextBackArea">
                            <div class="BackQuestion">
                                <button type="submit" name="action" th:value="back" th:if="${session.qNo != 1}">戻る</button>
                            </div>
                            <div class="NextQuestion">
                                <button type="submit" name="action" th:value="next" th:if="${session.qNo != 80}">次へ</button>
                            </div>
                            <label>
                                <input type="checkbox" name="checkNo" th:checked="${session.checkedMap[session.qNo]} ? true : false" />
                                チェックする
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 画面右側の問題一覧 -->
        <div class="questionTableArea">
            <table class="questionTable">
                <thead>
                    <tr>
                        <th>回答済み</th>
                        <th>問題No</th>
                        <th>チェック</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="no : ${#numbers.sequence(1, 80)}">
                        <td th:text="${session.answeredMap[no.toString()] != null and session.answeredMap[no.toString()]} ? '✔' : ''"></td>
                        <td>
                            <a href="#" th:onclick="'moveToQuestion(' + ${no} + '); return false;'" th:text="${no}"></a>
                        </td>
                        <td th:text="${session.checkedMap[no.toString()] != null and session.checkedMap[no.toString()]} ? '有':''"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:inline="javascript">
            const useTimer = [[${session.useTimer}]];
            console.log(userTimer);
            let checkFlag = [[${session.checkedMap}]];
            window.remainingSeconds = [[${session.remainingTime}]]; // サーバーから受け取った残り秒数
            window.answeredCount = [[${session.answeredCount}]];
        </script>
        <script th:src="@{/js/header.js}" defer></script>
        <script th:src="@{/js/question.js}" defer></script>
    </body>
</html>