<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JavaSilverSE11</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
        <link th:href="@{/css/questions.css}" rel="stylesheet">
    </head>
    <body class="mainHeader">
        <!-- headerのフラグメント作成⇒他のHTMLで使用できるようにする -->
	    <div th:replace="header :: Header"></div>
        <div class="question" th:if="${DQ != null}">
            <div class="questionArea1">
                <!-- 問題No-->
                <h3 th:text="'問 ' + ${session.qNo}"></h3>
                <!-- ファイル名表示 -->
                <div th:if="${session.filesPath != null}">
                    <p id="text-1">次のコードがあります</p>
                    <div class="fileDisplay">
                        <pre id="files" th:each="file : ${session.filesPath}" th:text="${file}"></pre>
                    </div>
                </div>
            </div>

            <div class="questionArea2">
                <pre id="text-2" th:text="${DQ.question}"></pre>  <!-- <pre> タグでインデント・改行などを保ったまま表示 -->
            </div>

            <div class="selectArea">
                <form th:action="@{/question/next}" method="post">
                    <input type="hidden" name="userId" th:value="${userId}" />
                    <div class="choice">
                        <ul style="list-style-type: none; padding-left: 0;">
                        <li th:each="choice : ${DQ.choicesText}">
                            <label class="choice-label">
                                <input class="checkbox" type="checkbox" name="selectedChoices"
                                       th:value="${choice.sNo}"
                                       th:checked="${NSC != null and NSC.contains(choice.sNo)}"/>
                                <span th:text="${choice.text}" style="white-space: pre-wrap;"></span>
                            </label>
                        </li>
                        </ul>
                    </div>

                    <div class="NextBackArea">
                        <div class="BackQuestion">
                            <button type="submit" name="action" th:value="back" th:if="${session.qNo != 1}">戻る</button>
                        </div>
                        <div class="NextQuestion">
                            <button type="submit" name="action" th:value="next" th:if="${session.qNo != 80}">次へ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>