<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JavaSilverSE11</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
        <link th:href="@{/css/resultPage.css}" rel="stylesheet">
    </head>
    </head>
    <body class="mainHeader">
        <!-- headerのフラグメント作成⇒他のHTMLで使用できるようにする -->
	    <div th:replace="header :: Header"></div>

        <h1>試験結果</h1>
        <h3 th:text="|${session.resultCount} / 80問 : 正答率 ${session.Accuracy}%|"></h3>

        <table border="1">
            <thead>
                <tr>
                    <th>問題</th>
                    <th>回答</th>
                    <th>答え</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${resultList}" th:style="${!result.result} ? 'background-color: #ff1800;' : ''">
                    <td>
                        <a href="#" th:onclick="'checkNo(' + ${result.no} + '); return false;'" th:text="${result.no}"></a>
                    </td>
                    <td th:text="${result.charChoices}">A</td>
                    <td th:text="${result.result ? '○' : '× : ' + result.answer}"></td>
                </tr>
            </tbody>
        </table>
        <a id="homeLink" th:href="@{/main/home}">ホームへ戻る</a>
    </body>
    <script th:src="@{/js/checkedAnswer.js}" defer></script>
</html>